.product-image-preview {
  height: 150;
  margin-bottom: 15;
  border-width: 1;
  border-color: #e0e0e0;
  border-radius: 5;
}

.hint {
  color: #888;
  font-style: italic;
  margin-bottom: 15;
}

.text-center {
  text-align: center;
}

.m-t-20 {
  margin-top: 20;
}

.btn-secondary {
  margin-right: 5;
}

.btn-primary {
  margin-left: 5;
}

.btn-close {
    margin: 15;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20;
}